includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 8
	treatPhpDocTypesAsCertain: false
	paths:
		- bootstrap.php
		- runtime.php
		- src
	excludePaths:
		analyse:
			- tests
